# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf merge=union
*.tsx   text eol=lf merge=union
*.rs    text eol=lf merge=union
*.js    text eol=lf merge=union
*.json  text eol=lf merge=union
*.debug text eol=lf merge=union

# Generated codes (excluded from GitHub language stats)
index.js                         linguist-detectable=false
index.d.ts                       linguist-detectable=false
vooya-fs.wasi-browser.js linguist-detectable=false
vooya-fs.wasi.cjs        linguist-detectable=false
wasi-worker-browser.mjs          linguist-detectable=false
wasi-worker.mjs                  linguist-detectable=false

# Prefer Rust as primary language: tests/bench/reference not counted
__test__/**   linguist-documentation=true
benchmark/**  linguist-documentation=true
reference/**  linguist-vendored=true
